
{% extends "base.html" %} {% block title %}Add A recipe{% endblock %} {% block
    content %}
{% if user.email == 'natikorn@gmail.com' %} 
{% include 'navbar.html' %}     
<div class="content-section">
  <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">CREATE A NEW RECIPE (Crear nueva receta) </legend>
        <div class="form-group">
            {{ form.title.label(class='form-control-label') }}

            {% if form.title.errors %}
                {{ form.title(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.title(class='form-control form-control-lg') }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.ingredients.label(class='form-control-label') }}

            {% if form.ingredients.errors %}
                {{ form.ingredients(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.ingredients.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.ingredients(class='form-control form-control-lg') }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.preparation.label(class='form-control-label') }}

            {% if form.preparation.errors %}
                {{ form.preparation(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.preparation.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.preparation(class='form-control form-control-lg') }}
            {% endif %}
        </div>

    
        <div class="form-group">
            {{ form.extra.label(class='form-control-label') }}

            {% if form.extra.errors %}
                {{ form.extra(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.extra.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.extra(class='form-control form-control-lg') }}
            {% endif %}
        </div>


        <div class="form-group">
            {{ form.web_picture.label(class='form-control-label') }}

            {% if form.web_picture.errors %}
                {{ form.web_picture(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.web_picture.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.web_picture(class='form-control form-control-lg') }}
            {% endif %}
        </div>


        <div class="form-group">
            {{ form.category1.label(class='form-control-label') }}

            {% if form.category1.errors %}
                {{ form.category1(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.category1.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.category1(class='form-control form-control-lg') }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.category2.label(class='form-control-label') }}

            {% if form.category2.errors %}
                {{ form.category2(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.category2.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.category2(class='form-control form-control-lg') }}
            {% endif %}
        </div>
        

        <div class="form-group">
            {{ form.category3.label(class='form-control-label') }}

            {% if form.category3.errors %}
                {{ form.category3(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.category3.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.category3(class='form-control form-control-lg') }}
            {% endif %}
        </div>
        
        
        
      

       
          
      </fieldset>

      <div class="form-group">
          {{ form.submit(class='btn btn-outline-info') }}
      </div>
  </form>
</div>

{% endif %}
{% endblock %}